pandas
geopandas
pyarrow
folium
streamlit
streamlit-folium
plotly
seaborn
matplotlib
pyyaml
fastapi
uvicorn[standard]
requests
prophet
scikit-learn
statsmodels
fastapi
uvicorn
streamlit-folium
seaborn
